<!DOCTYPE html>
<html lang="en">
	{{ partial "head.html" . }}
<body>
	{{ partial "header.html" . }}

	<main>
		<h1>Page Not Found</h1>
		<p>This page doesn't exist.</p>
		<p><a href="/">Go back to the home page</a></p>
	</main>

	{{ partial "footer.html" . }}
</body>
</html>
