/*
	===== Layout =====
*/

/* --- General Stuff --- */
body {
	margin: 0;
	padding: 0rem;
}

main {
	max-width: $content-width;
	margin: auto;
	padding: 0 $unit-1;
}

section {
	margin: $unit-2 0;
}

/* --- Page Elements --- */
header {
	border-bottom: 1px solid;

	padding: $unit-3;
	margin-bottom: $unit-1;

	& ul {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: end;

		list-style-type: none;

		margin: 0;
		padding: 0;

		& li {
			padding: 0 $unit-2;

			&:first-child {
				flex-grow: 1;
			}
		}
	}
}

footer {
	text-align: center;

	margin-top: $unit-1;
	padding: $unit-3;
}


/* --- Pages --- */
section.profile {
	text-align: center;

	& img {
		max-height: 20rem;
		border-radius: 50%;
	}

	& span {
		font-size: $unit-1;
	}
}

section.social-icons {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;

	justify-content: space-around;
	align-items: center;
}

article.list {
	margin: $unit-1 0;
}


/* --- Helpers --- */

dl {
	display: grid;
	grid-template-columns: auto 1fr;
	gap: 1ch 2ch;
}

dd { margin: 0; }

p {
	&.align-start  { text-align: start;  }
	&.align-center { text-align: center; }
	&.align-end    { text-align: end;    }
}

p.disclaimer {
	padding: 1rem;
	border: 1px solid;
}
