<footer>
	<p>
		Made with ❤️ by nzure.
	</p>
	<p>
		<em>
			The content on this page is, unless noted, licensed under the
			<a href="https://creativecommons.org/licenses/by-sa/4.0/">CC BY-SA</a>
			License.
			<br>
			The code is licensed as BSD-3-Clause and can be found <a href="{{ .Site.Params.Source }}">here</a>.
		</em>
	</p>
</footer>
