{{ range first 3 ( where .Site.RegularPages "Section" "posts" ).ByDate.Reverse }}
	<article class="list">
		<div class="flex-to-side">
			<h3 style="margin: 0;">
				<a href="{{ .RelPermalink }}">{{ .Title }}</a>
			</h3>
			<time datetime="{{ .Date.Format "2006-01-02T15:04:05Z07:00" }}">
				{{ .Date.Format "January 2, 2006" }}
			</time>
		</div>

		<p class="small-pushdown">{{ .Summary }}
			<a class="align-center" href="{{ .RelPermalink }}">&rarr;</a>
		</p>
	</article>
{{ end }}

<p class="align-end">
	<a href="/posts">Older Posts &rarr;</a>
</p>
